<div class="container">
    <div class="row my-5">
        <div class="col-md-12 text-center">
            <h1>Article Scraper!</h1>
            <p><i>Articles from <a target="_blank" href="http://www.echojs.com/">http://www.echojs.com/</a></i></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h2 class="text-center">Articles</h2>
            <div id="articles" class="main-box"></div>
        </div>
        <div class="col-md-6">
            <h2 class="text-center">Comments</h2>
            <div id="comments" class="main-box"></div>
        </div>
    </div>
    <div class="row my-4">
        <div class="col-md-12">
            <h2 class="text-center">Click an article title to leave a comment!</h2>
        </div>
    </div>
</div>