<div class="container">
    <div class="row">
        <div id="articles" class="col-md-6">
            <h1>Articles</h1>
            <div id="articles">
                This will hold articles.
            </div>
        </div>
        <div id="comments" class="col-md-6">
            <h1>Comments</h1>
            <div id="articles">
                This will hold comments.
            </div>
        </div>
    </div>
</div>